@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-white;
}


.input {
  @apply p-4 rounded-xl bg-white dark:bg-slate-800
  border border-slate-300 dark:border-slate-700
  focus:ring-2 focus:ring-indigo-500 outline-none;
}